<%= render "sell_users/products/sellHeader_fields" %>
<div class="sellOrderDetailWrapper">
  <div class="container mt-sm-5">
    <div class="row mb-lg-5">
      <%= link_to "普通購入",sell_users_order_appends_path,class: "offset-lg-3 col-lg-2 btn btn-sky" %>
      <%= link_to "プレゼント購入",sell_users_present_appends_path,class: "offset-lg-3 col-lg-2 btn btn-pink" %>
    </div>
    <table class="table table-striped table-hover">
      <thead class="thead-light">
        <tr>
          <th>注文ID</th>
          <th>受取人</th>
          <th>購入商品</th>
          <th>数量</th>
          <th>合計金額</th>
          <th>配送状況</th>
          <th>配送状況変更</th>
          <th>更新</th>
        </tr>
      </thead>
      <tbody>
        <% @details.each do |order| %>
        <% order.each do |ord| %>
        <%# @detail = order[0] %>
        <% @detail = ord %>
          <% @append = @detail.present_append %>
          <tr class="table-text">
            <!-- <span class="table-text orderCheck" id ="<%#= order.ids[0] %>"> -->
              <td class="orderCheck"  id ="<%= order.ids[0] %>"><%= @append.id %></td>
              <td><%= @append.user.first_name %><%= @append.user.last_name %></td>
              <td class="text-limit"><%= @detail.product.title %></td>
              <td><%= @detail.quantity %></td>
              <td>
                <% if @append.total <= 0 %>
                  0
                <% else %>
                  <%= @append.total %>
                <% end %>
              </td>
            </span>
              <%= form_for @detail,url:sell_users_order_detail_path(@detail.id),method: :put do |f| %>
              <td><%= @detail.status %></td>
              <td>
                <span><%= f.select :status, options_for_select(OrderDetail.statuses.keys),{},{class: "btn"} %></span></p>
              </td>
              <td>
                <%= f.submit "変更確定",class: "btn btn-sky" %>
              </td>
              <% end %>
            </tr>
            <div class="detailModalWrapper <%= order.ids[0] %>">
              <div class="detailForm">
                <div class="close-modal">
                  <%= fa_icon("times 2x") %>
                </div>
                <div class="detailAppendBox">
                  <h4 class="border-bottom pb-lg-3 font-bold text-center">宛先情報</h4>
                  <h3 class="detailAppendText">宛名:<span class="ml-lg-5"><%= @append.name %></span></h3>
                  <h5 class="detailAppendText">かな表記<span class="ml-lg-5"><%= @append.details_name %></span></h5>
                  <h5 class="detailAppendText">郵便番号<span class="ml-lg-5"><%= @append.postal_code %></span></h5>
                  <p class="text-turn detailAppendText">届け先<span class="ml-lg-5"><%= @append.address %></span></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>