<div class="mt-lg-3 mb-lg-5">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row">
      <div class="adminSign col-lg-6 offset-lg-3 border p-lg-4">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "col-lg-10 offset-lg-1 rounded" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class: "col-lg-10 offset-lg-1 rounded" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "col-lg-10 offset-lg-1 rounded" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up",class: "btn-pink col-lg-6 offset-lg-3 rounded cursor pt-lg-3 pb-lg-3 mt-lg-4 rounded" %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render "admins/shared/links" %>
</div>
