<%= render "/products/userHeader_fields" %>
<div class="userRequestsWrapper pt-lg-5 mb-lg-5">
  <div class="container">
    <div class="row">
      <p class="offset-lg-2 col-lg-9 p-lg-3 border rounded"><span class="mr-lg-3">共有URL</span>http://3.114.171.126/users/<%= @user.id %>/<%= @user.secret_key %>/user_requests</p>
    </div>
    <h2 class="text-center pb-lg-3 border-bottom mt-lg-5"><span class="font-bold"><%= @user.user_name %></span>さんの欲しいものリスト</h2>
    <% if @requests.blank? %>
      <h4 class="text-center mt-lg-5">登録されていません</h4>
    <% else %>
      <table class="table table-striped table-hover">
        <thead class="thead-light">
          <tr>
            <th>商品イメージ</th>
            <th>商品</th>
            <th>金額</th>
            <th>商品詳細</th>
            <% if user_signed_in? %>
              <% if @user.id == current_user.id %>
                <th>削除</th>
              <% else %>
                <th>プレゼント</th>
              <% end %>
            <% else %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |request| %>
          <% @product = request.product %>
              <tr class="table-text requestCheck">
                <td class="miniTd"><%= attachment_image_tag @product.product_images.first,:product_image,style:"width: 100%;height: 10%;" %></td>
                <td class="text-limit"><%= @product.title %></td>
                <td><%= @product.price %></td>
                <td><%= link_to "商品詳細", product_path(@product.id),class: "btn btn-sky" %></td>
                <% if user_signed_in? %>
                  <% if @user.id == current_user.id %>
                    <% total = (@product.price) * (request.quantity) %>
                    <td><%= link_to "削除",user_request_path(request.id),class: "btn btn-danger",method: :delete,"data-confirm" => "本当に削除しますか？" %></td>
                  <% else %>
                    <td>
                      <%= form_for @present_append,url: present_appends_path do |f| %>
                        <%= f.hidden_field :total,value: @product.price %>
                        <%= f.hidden_field :user_id,value: @user.id %>
                        <%= f.hidden_field :product_num,value: @product.id %>
                        <%= f.submit "プレゼントする",class: "btn btn-pink col-lg-8 offset-lg-3","data-confirm" => "本当にプレゼントしますか？" %>
                      <% end %>
                    </td>
                  <% end %>
                <% end %>
  <!-- http://localhost:3000/users/2/c7979059cae6e9f5a6ca/user_requests -->
              </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<!-- http://localhost:3000/users/6/2834f5e039e69afe9d15/user_requests -->