<!DOCTYPE html>
<html>
  <head>
    <title>KurashiShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="teachBox rounded row p-lg-2 flash off">
        <p class="offset-lg-1 col-lg-10 text-center text-pink pt-lg-2"><%= flash[:notice] %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
